<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-plus"></script>
  <script src="//cdn.jsdelivr.net/npm/@element-plus/icons-vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./index.css">
  <title>接口调试</title>
</head>

<body>

  <div id="app" v-loading="true">
    <div class="floder">
      <div class="inner">
        <div class="floder-item">
          <div class="input">
            <el-input v-model="input1" size="normal" placeholder="搜索" :prefix-icon="Search" />

          </div>
          <div class="btn">
            <el-popover hide-after="200" class="xxx" placement="top-start" :width="200" trigger="hover" content="">
              <div class="add-item floder" @click="createF">
                <el-icon>
                  <FolderAdd />
                </el-icon>
                <div class="f">添加文件夹</div>
              </div>
              <div class="add-item files" @click="addR">
                <el-icon>
                  <FolderAdd />
                </el-icon>
                <div class="f">添加请求</div>
              </div>


              <template #reference>
                <el-button type="primary" size="default">
                  <el-icon>
                    <Plus />
                  </el-icon>
                </el-button>


              </template>
            </el-popover>
          </div>

        </div>

        <el-tree :data="floderTree" :props="defaultProps" @node-click="handleNodeClick">

          <template #default="{ node, data }">
            <div class="custom-tree-node">
              <span>{{ node.label }}</span>
              <span v-if="data.children">
                <el-button type="primary" size="small" @click.stop="exports(data.children)">export</el-button>

              </span>
            </div>
          </template>
        </el-tree>
      </div>
    </div>
    <div class="opera-content" v-loading="loading">
      <div class="env_set">
        <el-row :gutter="20">
          <el-col :span="4" :offset="0">
            <el-button type="primary" size="default" @click="">环境设置</el-button>

          </el-col>
          <el-col :span="4" :offset="">
            <div class="baseurl">{{baseUrl}}</div>

          </el-col>
          <el-col :span="4" :offset="2">

            <el-select v-model="str" value-key="" placeholder="选择环境" clearable filterable @change="selectEnv">
              <el-option v-for="item in envS" :value="item.name">
              </el-option>
            </el-select>
          </el-col>

        </el-row>



      </div>
      <div class="request">
        <el-row class="bg">

          <el-col :span="3" :offset="0" class="changeBg">
            <el-select v-model="reqMethods" :placeholder="sValue" clearable filterable @change="selectChange">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"
                :style="item.style" class="method_font">
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="18" :offset="0" class="changeBg">

            <el-input v-model="URL" placeholder="输入http或https起始的完整URL" size="default" :value="compPath" clearable
              @blur="blurUrl"></el-input>
          </el-col>
          <el-col :span="3" :offset="0" class="opera">
            <div class="save">

              <el-button type="primary" size="default" @click="send">发送</el-button>

            </div>
            <div class="fq">
              <el-button type="default" size="default" @click="save">保存</el-button>

            </div>
          </el-col>

        </el-row>

        <el-row :gutter="0">
          <el-col :span="24" :offset="0">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="Params" name="first">
                <div class="title" style="text-align: left">query 参数

                  <!-- <zdy></zdy> -->
                </div>
                <table class="table" border="1" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <el-checkbox v-model="checkAll" label="" :indeterminate="false" @change="cancelAll">
                        </el-checkbox>
                      </th>
                      <th class="arg_name" draggable="">参数名</th>
                      <th class="arg_value">参数值</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr v-for="(item,index) in paramArr">
                      <td>{{item.icon}}</td>
                      <td class="fix_center">
                        <el-checkbox v-model="item.checked" label="" :indeterminate="false" @change="sigleSelect">
                        </el-checkbox>

                      </td>
                      <td>
                        <el-input v-model="item.key" placeholder="" size="normal" @input="inputValue" clearable
                          :id="index"></el-input>
                        </el-input>

                      </td>
                      <td>
                        <el-input v-model="item.value" placeholder="" size="normal" clearable
                          @clear="inputClear(index)">
                        </el-input>

                      </td>

                    </tr>


                    <tr draggable="">
                      <td>
                        <el-icon>
                          <Apple />
                        </el-icon>
                      </td>
                      <td class="fix_center">
                        <el-checkbox v-model="addCheck" label="" :indeterminate="false" @change=""></el-checkbox>

                      </td>
                      <td>
                        <el-input v-model="first" placeholder="添加参数" size="normal" clearable @input="addParam">
                        </el-input>

                      </td>
                      <td>
                        <el-input v-model="" placeholder="" size="normal" clearable @change=""></el-input>

                      </td>

                    </tr>
                  </tbody>
                </table>

              </el-tab-pane>
              <el-tab-pane label="Body" name="second">配置管理

                <tables-content></tables-content>

              </el-tab-pane>
              <el-tab-pane label="Headers" name="third">角色管理</el-tab-pane>
              <el-tab-pane label="Cookies" name="fourth">定时任务补偿</el-tab-pane>
              <el-tab-pane label="后置操作"> 后置操作</el-tab-pane>
            </el-tabs>
          </el-col>
        </el-row>
      </div>
      <div class="response">
        <el-row :gutter="0" class="console">
          <el-col :span="24" :offset="0">
            <el-tabs v-model="rActiveName" tab-position="top" @tab-click="">
              <el-tab-pane label="Body" name="Body">
                <pre class="response_json" v-html="rjson"></pre>
              </el-tab-pane>

              <el-tab-pane label="Cookie" name="Cookie">

              </el-tab-pane>

              <el-tab-pane label="Header" name="Header">

              </el-tab-pane>

              <el-tab-pane label="控制台" name="控制台">
                <div class="code">
                  <div class="code-left">
                    <el-tabs v-model="cfz"  tab-position="top" @tab-click="changeFz">
                      <el-tab-pane 
                        
                        label="uniapp"
                        name="uniapp"
                     >
          
                      </el-tab-pane>
                      <el-tab-pane 
                        
                        label="axios"
                        name="axios"
                     >
          
                      </el-tab-pane>
                      <el-tab-pane 
                        
                        label="umi"
                        name="umi"
                     >
          
                      </el-tab-pane>
                      <el-tab-pane 
                        
                        label="小程序"
                        name="mini"
                     >
          
                      </el-tab-pane>
                    </el-tabs>
                    
                    <pre v-html="fz"></pre>
                  </div>
                  <div class="code-right">
                    <pre contenteditable="true" v-html="exportsStr"></pre>
                  </div>
                </div>
                
            </pre>
              </el-tab-pane>
            </el-tabs>



          </el-col>
          <el-col :span="12" :offset="0"></el-col>
        </el-row>

      </div>



    </div>
    <el-dialog v-model="dialogVisible" align-center draggable show-close title="保存请求" width="32%"
      :before-close="handleClose">

      <el-form :model="form" ref="form" :rules="rules" label-width="80px" :inline="false" size="normal">

        <el-form-item label="请求名称">
          <el-input size="default" v-model="intName" prop="name"></el-input>
        </el-form-item>
        <el-form-item label="请求分组">
          <el-select width="800" v-model="detailFloader" size="default" value-key="" placeholder="登录" clearable
            filterable @change="selectFloder">
            <el-option v-for="item in floders" :value="item">
            </el-option>
          </el-select>

        </el-form-item>
      </el-form>

      </el-form>



      <template #footer>
        <span class="dialog-footer">


          <el-button type="primary" @click="Confirm">
            确认
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-input v-model="name" placeholder="请输入方法名字" size="normal" required clearable @change=""></el-input> -->

    <el-dialog v-model="createFloder" align-center draggable show-close title="新建文件夹" width="32%"
      :before-close="handleClose">

      <el-input v-model="floderName" placeholder="输入文件夹名称" size="normal" clearable @change="iFname"></el-input>


      </el-form>

      </el-form>



      <template #footer>
        <span class="dialog-footer">


          <el-button type="primary" @click="fConfirm">
            确认
          </el-button>
        </span>
      </template>
    </el-dialog>

  </div>
  <script src="./request.js" type="module"></script>
  <script src="./app.js" type="module"></script>
</body>

</html>