html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#app{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    background-color: #1b1c21;
}
.opera{
    display: flex;
    /* padding-left: 40px; */
    justify-content: space-around;
    /* box-sizing: border-box; */
}
.save{
    /* margin-right: 20px; */
}
.fq{
    /* margin-left: 30px; */
}
/* .el-input__wrapper{
    background-color: #27282e;
    border: n;
} */
.bg{
    padding-bottom: 10px;
    
}
.table{
    width: 100%;
    /* height: 500px; */
    /* border: 1px solid  #27282e; */
}
.arg_name {
    width: 45%;

}
.arg_value{
    width: 45%;
}
tr{
    /* height: 0px; */
    line-height: 40px;
    border-spacing: 2px;
}
.fix_center{
    display: flex;
    justify-content: center;
    align-items: center;

}
th{
    width: 100px;
    color:#fff;
    font-weight: 400;
}

.method_font{
    font-weight: bolder;
}
.floder{
    width: 17%;
    min-width: 200px;
    background-color: #232429;
}
.opera-content {
    display: flex;
    flex-direction: column;
    width: 89%;
    padding-top: 21px;
    min-width: 890px;
    box-sizing: border-box;
}
.request{
    padding-right: 40px;
    padding-left: 40px;
}
.response{
    padding-right: 40px;
    padding-left: 40px;
    height: 80%;
    background: #15161a;
}
.el-tree{
    background: none;
    padding-right: 20px;
    padding-top: 10px;
    border-top:1px solid #fff;
}
.el-tree-node:focus>.el-tree-node__content {
    background-color: #3d3f42;
    color:#fff;
}
.el-tree-node:hover>.el-tree-node__content {
    background-color: #3d3f42;
    color:#fff;
}
.el-tabs__item {
    padding: 0 20px;
    height: var(--el-tabs-header-height);
    box-sizing: border-box;
    line-height: var(--el-tabs-header-height);
    display: inline-block;
    list-style: none;
    font-size: var(--el-font-size-base);
    font-weight: 500;
    color: #d0d4dd;
    position: relative;
}

.el-input__wrapper {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /* padding: 1px 11px; */
    background: #232429;
    /* border: 1px solid #373636; */
    /* box-shadow: 0 0 0 0px #e4e7ed inset; */
    border-radius: 2px;
}
.radius{
    border-left-top-radius:5px;
    border-radius: 56;
}


input[placeholder="GET"]::-webkit-input-placeholder,input[placeholder="GET"]:focus,input[placeholder="GET"]{
    color:#669182;
    font-weight: bold;
}
input[placeholder="POST"]::-webkit-input-placeholder,input[placeholder="POST"],input[placeholder="POST"]:focus{
    color:#ce7933;
    font-weight: bold;
}


input[placeholder="PUT"]::-webkit-input-placeholder,input[placeholder="PUT"],input[placeholder="PUT"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="DELETE"]::-webkit-input-placeholder,input[placeholder="DELETE"],input[placeholder="DELETE"]:focus{
    color:#d94c1d;
    font-weight: bold;
}

input[placeholder="OPTIONS"]::-webkit-input-placeholder,input[placeholder="OPTIONS"],input[placeholder="OPTIONS"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="HEAD"]::-webkit-input-placeholder,input[placeholder="HEAD"],input[placeholder="HEAD"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="PATCH"]::-webkit-input-placeholder,input[placeholder="PATCH"],input[placeholder="PATCH"]:focus{
    color:#cc2c84;
    font-weight: bold;
}

input[placeholder="TRACE"]::-webkit-input-placeholder,input[placeholder="TRACE"],input[placeholder="TRACE"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="CONNECT"]::-webkit-input-placeholder,input[placeholder="CONNECT"],input[placeholder="CONNECT"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="COPY"]::-webkit-input-placeholder,input[placeholder="COPY"],input[placeholder="COPY"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="UNLINK"]::-webkit-input-placeholder,input[placeholder="UNLINK"],input[placeholder="UNLINK"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="LINK"]::-webkit-input-placeholder,input[placeholder="LINK"],input[placeholder="LINK"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="PURGE"]::-webkit-input-placeholder,input[placeholder="PURGE"],input[placeholder="PURGE"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="LOCK"]::-webkit-input-placeholder,input[placeholder="LOCK"],input[placeholder="LOCK"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="UNLOCK"]::-webkit-input-placeholder,input[placeholder="UNLOCK"],input[placeholder="UNLOCK"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="MKCOL"]::-webkit-input-placeholder,input[placeholder="MKCOL"],input[placeholder="MKCOL"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="MOVE"]::-webkit-input-placeholder,input[placeholder="MOVE"],input[placeholder="MOVE"]:focus{
    color:#187fde;
    font-weight: bold;
}
input[placeholder="REOPIND"]::-webkit-input-placeholder,input[placeholder="REOPIND"],input[placeholder="REOPIND"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="REPORT"]::-webkit-input-placeholder,input[placeholder="REPORT"],input[placeholder="REPORT"]:focus{
    color:#187fde;
    font-weight: bold;
}

input[placeholder="VIEW"]::-webkit-input-placeholder,input[placeholder="VIEW"],input[placeholder="VIEW"]:focus{
    color:#187fde;
    font-weight: bold;
}

.title{
    margin-bottom:20px;
    color:#fff;
}


.console{
   
}
.el-tabs__content {
    margin-bottom: 29px;
    /* height: 200px; */
    overflow-y:auto;
}
pre {
    color: white;
    height: 490px;
    overflow-y: auto;
}

.string {
    color: darkorange;
}

.number {
    color: #7dbfa8;
}

.boolean {
    color: darkorange;
}

.null {
    color: magenta;
}

.key {
    color: #1584d9;
}
.el-dialog{
    background:#1b1c21;
    color:#fff;
}
.floder-item{
    padding: 20px 10px 20px 20px;
    display: flex;
}
.btn{
    margin-left: 25px;
}
.add-item{
    background-color: #232429;
    color:#fff;
    width: 95%;
    margin-bottom: 10px;
    text-align: center;
    height: 35px;
    
    line-height: 35px;
    display: flex;
}
.add-item:hover{
    background: #1584d9;
    opacity: .6;
    color:#000;
}
pre:focus-visible{
    border:none;
    /* outline: n; */
}
.custom-tree-node{
    display: flex;
    flex-grow: 1 1;
    overflow: hidden;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    /* padding-right: 8%; */
    justify-content: space-between;
}
.el-tree-node__content{
    /* padding-right: 10px; */
}
.el-tree-node__label{
    width: 100%;

}
.env_set{
    padding-left: 40px;
    padding-bottom: 20px;
}
.baseurl{
    color:#fff; 
}
.code{
    display: flex;
    width: 100%;
    padding-top: 20px;
    height: 490px;
}
.code-left{
    flex:1;
    width: 50%;
    border-right: 1px solid #3d3f42;
}
.code-right{
    flex:1;
    width: 50%;

}